In [12]:
import random

from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord

random.seed('outrigger')

In [19]:
length = 600
seq = ''.join(random.choice("ACGT") for _ in range(length))

record = SeqRecord(Seq(seq), id='chr1', description='')
record

SeqRecord(seq=Seq('TTAAACTGATTGCTTACACATACCCTGATTCGTTGTATCCAAACTTCTGACTGT...GGG', Alphabet()), id='chr1', name='<unknown name>', description='', dbxrefs=[])

In [31]:
fasta_filename = 'outrigger/tests/test.fasta'

with open(fasta_filename, 'w') as f:
    SeqIO.write([record], f, 'fasta')

In [32]:
cat $fasta_filename

>chr1
TTAAACTGATTGCTTACACATACCCTGATTCGTTGTATCCAAACTTCTGACTGTAGGTCC
TGCGTTGGACCCTGCACTGTCCCTACTGTCCCCAACGGGTCTACTGACTACTGGGACAAA
CGGACATCCACTTAGGACTCGGCTATGCGACGGGGAGGGCCGCGATTGCTTCTATTGTGT
CAACCTGTTCCCCCTACACTGACCAGTGCATGTCGTTCGGAGTAGAGGTTGCAATCGGCT
TGAGGTAGCGTGTACCTCATGTCCATACCATTGCATATCAATCGTTCGAACGTCAGAAGG
CGTCCTATACTTCGGTCGTTAACCAGGAATCTTGTCGGCGTAGCTACTCTAGTAATGATA
ATAGTTTCTACATCCGACAACTATAATGCGTAAGTGGTCGAATATTGATGAATCATCCTC
GCAAGGCCATCTGAGCAAGGCAATGTCCTCTGCTAGGCTTGACGCATTTTGACTGGAAGA
AATCCATGACAGGCGTGAATCATTACAGTAGTATTCGACACGTGTCCCACTGATACCGTG
GTACCGGACGAGTACTAGAACCGTGGGTTAGTATGTTAGCCCATCATGCTGCAGTTCGGG

In [23]:
from outrigger.tests.test_junctions_to_events import exon_start_stop

In [27]:
import pandas as pd


bed_lines = []

strands = {'positive': '+', 'negative': '-'}

for name, (start, stop) in exon_start_stop().items():
    for strand_name, strand in strands.items():
        line = ['chr1', start, stop, '{}_{}'.format(name, strand_name), '.', strand]
        bed_lines.append(line)
bed = pd.DataFrame(bed_lines)
bed

       0    1    2                   3  4  5
0   chr1  400  425      exon4_positive  .  +
1   chr1  400  425      exon4_negative  .  -
2   chr1  100  125   exon1alt_positive  .  +
3   chr1  100  125   exon1alt_negative  .  -
4   chr1  225  275  exon2a5ss_positive  .  +
5   chr1  225  275  exon2a5ss_negative  .  -
6   chr1  150  175      exon1_positive  .  +
7   chr1  150  175      exon1_negative  .  -
8   chr1  300  350      exon3_positive  .  +
9   chr1  300  350      exon3_negative  .  -
10  chr1  225  250      exon2_positive  .  +
11  chr1  225  250      exon2_negative  .  -
12  chr1  200  250  exon2a3ss_positive  .  +
13  chr1  200  250  exon2a3ss_negative  .  -
14  chr1  475  500   exon4alt_positive  .  +
15  chr1  475  500   exon4alt_negative  .  -

In [29]:
bed_filename = 'outrigger/tests/test.bed'
bed.to_csv(bed_filename, sep='\t', header=False, index=False)

In [30]:
cat $bed_filename

chr1	400	425	exon4_positive	.	+
chr1	400	425	exon4_negative	.	-
chr1	100	125	exon1alt_positive	.	+
chr1	100	125	exon1alt_negative	.	-
chr1	225	275	exon2a5ss_positive	.	+
chr1	225	275	exon2a5ss_negative	.	-
chr1	150	175	exon1_positive	.	+
chr1	150	175	exon1_negative	.	-
chr1	300	350	exon3_positive	.	+
chr1	300	350	exon3_negative	.	-
chr1	225	250	exon2_positive	.	+
chr1	225	250	exon2_negative	.	-
chr1	200	250	exon2a3ss_positive	.	+
chr1	200	250	exon2a3ss_negative	.	-
chr1	475	500	exon4alt_positive	.	+
chr1	475	500	exon4alt_negative	.	-

In [33]:
import pybedtools

In [34]:

pybedtools.BedTool.flank?

In [35]:
pybedtools.chromsizes('hg19')

OrderedDict([('chr1', (0, 249250621)),
             ('chr2', (0, 243199373)),
             ('chr3', (0, 198022430)),
             ('chr4', (0, 191154276)),
             ('chr5', (0, 180915260)),
             ('chr6', (0, 171115067)),
             ('chr7', (0, 159138663)),
             ('chr8', (0, 146364022)),
             ('chr9', (0, 141213431)),
             ('chr10', (0, 135534747)),
             ('chr11', (0, 135006516)),
             ('chr12', (0, 133851895)),
             ('chr13', (0, 115169878)),
             ('chr14', (0, 107349540)),
             ('chr15', (0, 102531392)),
             ('chr16', (0, 90354753)),
             ('chr17', (0, 81195210)),
             ('chr18', (0, 78077248)),
             ('chr19', (0, 59128983)),
             ('chr20', (0, 63025520)),
             ('chr21', (0, 48129895)),
             ('chr22', (0, 51304566)),
             ('chrX', (0, 155270560)),
             ('chrY', (0, 59373566)),
             ('chrM', (0, 16571)),
             ('chr6_ssto_hap7', (0, 4928567)),
             ('chr6_mcf_hap5', (0, 4833398)),
             ('chr6_cox_hap2', (0, 4795371)),
             ('chr6_mann_hap4', (0, 4683263)),
             ('chr6_apd_hap1', (0, 4622290)),
             ('chr6_qbl_hap6', (0, 4611984)),
             ('chr6_dbb_hap3', (0, 4610396)),
             ('chr17_ctg5_hap1', (0, 1680828)),
             ('chr4_ctg9_hap1', (0, 590426)),
             ('chr1_gl000192_random', (0, 547496)),
             ('chrUn_gl000225', (0, 211173)),
             ('chr4_gl000194_random', (0, 191469)),
             ('chr4_gl000193_random', (0, 189789)),
             ('chr9_gl000200_random', (0, 187035)),
             ('chrUn_gl000222', (0, 186861)),
             ('chrUn_gl000212', (0, 186858)),
             ('chr7_gl000195_random', (0, 182896)),
             ('chrUn_gl000223', (0, 180455)),
             ('chrUn_gl000224', (0, 179693)),
             ('chrUn_gl000219', (0, 179198)),
             ('chr17_gl000205_random', (0, 174588)),
             ('chrUn_gl000215', (0, 172545)),
             ('chrUn_gl000216', (0, 172294)),
             ('chrUn_gl000217', (0, 172149)),
             ('chr9_gl000199_random', (0, 169874)),
             ('chrUn_gl000211', (0, 166566)),
             ('chrUn_gl000213', (0, 164239)),
             ('chrUn_gl000220', (0, 161802)),
             ('chrUn_gl000218', (0, 161147)),
             ('chr19_gl000209_random', (0, 159169)),
             ('chrUn_gl000221', (0, 155397)),
             ('chrUn_gl000214', (0, 137718)),
             ('chrUn_gl000228', (0, 129120)),
             ('chrUn_gl000227', (0, 128374)),
             ('chr1_gl000191_random', (0, 106433)),
             ('chr19_gl000208_random', (0, 92689)),
             ('chr9_gl000198_random', (0, 90085)),
             ('chr17_gl000204_random', (0, 81310)),
             ('chrUn_gl000233', (0, 45941)),
             ('chrUn_gl000237', (0, 45867)),
             ('chrUn_gl000230', (0, 43691)),
             ('chrUn_gl000242', (0, 43523)),
             ('chrUn_gl000243', (0, 43341)),
             ('chrUn_gl000241', (0, 42152)),
             ('chrUn_gl000236', (0, 41934)),
             ('chrUn_gl000240', (0, 41933)),
             ('chr17_gl000206_random', (0, 41001)),
             ('chrUn_gl000232', (0, 40652)),
             ('chrUn_gl000234', (0, 40531)),
             ('chr11_gl000202_random', (0, 40103)),
             ('chrUn_gl000238', (0, 39939)),
             ('chrUn_gl000244', (0, 39929)),
             ('chrUn_gl000248', (0, 39786)),
             ('chr8_gl000196_random', (0, 38914)),
             ('chrUn_gl000249', (0, 38502)),
             ('chrUn_gl000246', (0, 38154)),
             ('chr17_gl000203_random', (0, 37498)),
             ('chr8_gl000197_random', (0, 37175)),
             ('chrUn_gl000245', (0, 36651)),
             ('chrUn_gl000247', (0, 36422)),
             ('chr9_gl000201_random', (0, 36148)),
             ('chrUn_gl000235', (0, 34474)),
             ('chrUn_gl000239', (0, 33824)),
             ('chr21_gl000210_random', (0, 27682)),
             ('chrUn_gl000231', (0, 27386)),
             ('chrUn_gl000229', (0, 19913)),
             ('chrUn_gl000226', (0, 15008)),
             ('chr18_gl000207_random', (0, 4262))])