In [1]:
import random

from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord

random.seed('outrigger')

In [2]:
length = 600
seq = ''.join(random.choice("ACGT") for _ in range(length))

record = SeqRecord(Seq(seq), id='chr1', description='')
record

SeqRecord(seq=Seq('CAGATTTTGCGAAGTACCACGAGTAGGAAGCCATCCATGACTTACTTGGTACAA...CAC', Alphabet()), id='chr1', name='<unknown name>', description='', dbxrefs=[])

In [3]:
fasta_filename = 'outrigger/tests/test.fasta'

with open(fasta_filename, 'w') as f:
    SeqIO.write([record], f, 'fasta')

In [4]:
cat $fasta_filename

>chr1
CAGATTTTGCGAAGTACCACGAGTAGGAAGCCATCCATGACTTACTTGGTACAATCTGGC
GTGAACTTGAGCACATTGAATAATTACACAATAGCCATAGATTGGCTCAGTGTAAGTGCT
AGTGGCTTGTATAGGCACAAACGGCTTGCTGAGTAAATGCTGTCTGTCCCGAAGAGAACC
CATAACGTGGAGGGAATAAATTTGTTGGGGAAGTAGTATCTCATTCATGGAGCCAAAGAC
AGACGGTGTTGTCGATAGTCAAAGCTCTCAGTACTGTCACTAGGCTGCTTCTTTCGCCTA
TGCGGATGTTGCCTGGTCGAGTGGAGCGTATTTCCATACCTATTCAATGTAACAACGTCA
TCGCTCCATAGGGCGCCTAAGGCGTACCATAGTAATTGAACCGGGGACGGCGTGTACAGG
TAGAGAATGGCACCCTACAGTTTGTGACAGTCGGAGGCCGGGCAGTGATTGGTGGGAATA
TAGCCCGGATCCGCTCGTAATCTCTAAATTTATTGACCCAGTTACGTTAGATTGCTGTTA
CACGAGTCAGTACATATCTGATGCGACCGTGCTCTAGGCACGGCAGGCAACGTCTTGCAC

In [5]:
from outrigger.tests.test_junctions_to_events import exon_start_stop

In [6]:
import pandas as pd


bed_lines = []

strands = {'positive': '+', 'negative': '-'}

for name, (start, stop) in exon_start_stop().items():
    for strand_name, strand in strands.items():
        line = ['chr1', start, stop, '{}_{}'.format(name, strand_name), '.', strand]
        bed_lines.append(line)
bed = pd.DataFrame(bed_lines)
bed

       0    1    2                   3  4  5
0   chr1  400  425      exon4_positive  .  +
1   chr1  400  425      exon4_negative  .  -
2   chr1  100  125   exon1alt_positive  .  +
3   chr1  100  125   exon1alt_negative  .  -
4   chr1  225  275  exon2a5ss_positive  .  +
5   chr1  225  275  exon2a5ss_negative  .  -
6   chr1  150  175      exon1_positive  .  +
7   chr1  150  175      exon1_negative  .  -
8   chr1  300  350      exon3_positive  .  +
9   chr1  300  350      exon3_negative  .  -
10  chr1  225  250      exon2_positive  .  +
11  chr1  225  250      exon2_negative  .  -
12  chr1  200  250  exon2a3ss_positive  .  +
13  chr1  200  250  exon2a3ss_negative  .  -
14  chr1  475  500   exon4alt_positive  .  +
15  chr1  475  500   exon4alt_negative  .  -

In [7]:
record[400:426]

SeqRecord(seq=Seq('CCGGGGACGGCGTGTACAGGTAGAGA', Alphabet()), id='chr1', name='<unknown name>', description='', dbxrefs=[])

In [8]:
record[422:431]

SeqRecord(seq=Seq('GAGAATGGC', Alphabet()), id='chr1', name='<unknown name>', description='', dbxrefs=[])

In [9]:
record[394:403].reverse_complement()

SeqRecord(seq=Seq('CGGTTCAAT', Alphabet()), id='<unknown id>', name='<unknown name>', description='<unknown description>', dbxrefs=[])

In [10]:
bed_filename = 'outrigger/tests/test.bed'
bed.to_csv(bed_filename, sep='\t', header=False, index=False)

In [11]:
cat $bed_filename

chr1	400	425	exon4_positive	.	+
chr1	400	425	exon4_negative	.	-
chr1	100	125	exon1alt_positive	.	+
chr1	100	125	exon1alt_negative	.	-
chr1	225	275	exon2a5ss_positive	.	+
chr1	225	275	exon2a5ss_negative	.	-
chr1	150	175	exon1_positive	.	+
chr1	150	175	exon1_negative	.	-
chr1	300	350	exon3_positive	.	+
chr1	300	350	exon3_negative	.	-
chr1	225	250	exon2_positive	.	+
chr1	225	250	exon2_negative	.	-
chr1	200	250	exon2a3ss_positive	.	+
chr1	200	250	exon2a3ss_negative	.	-
chr1	475	500	exon4alt_positive	.	+
chr1	475	500	exon4alt_negative	.	-

In [12]:
import pybedtools

In [19]:
import outrigger

In [24]:
rbfox2_gff_str = """22	HAVANA	exon	36236239	36236634	.	-	.	gene_id "ENSG00000100320.18"; transcript_id "ENST00000405409.2"; gene_type "protein_coding"; gene_status "KNOWN"; gene_name "RBFOX2"; transcript_type "protein_coding"; transcript_status "KNOWN"; transcript_name "RBFOX2-001"; exon_number 1;  exon_id "ENSE00001928848.1";  level 2; tag "basic"; tag "CCDS"; ccdsid "CCDS13921.1"; havana_gene "OTTHUMG00000150585.10"; havana_transcript "OTTHUMT00000318976.3";
22	HAVANA	exon	36205827	36206051	.	-	.	gene_id "ENSG00000100320.18"; transcript_id "ENST00000405409.2"; gene_type "protein_coding"; gene_status "KNOWN"; gene_name "RBFOX2"; transcript_type "protein_coding"; transcript_status "KNOWN"; transcript_name "RBFOX2-001"; exon_number 2;  exon_id "ENSE00003480855.1";  level 2; tag "basic"; tag "CCDS"; ccdsid "CCDS13921.1"; havana_gene "OTTHUMG00000150585.10"; havana_transcript "OTTHUMT00000318976.3";
22	HAVANA	exon	36177647	36177793	.	-	.	gene_id "ENSG00000100320.18"; transcript_id "ENST00000405409.2"; gene_type "protein_coding"; gene_status "KNOWN"; gene_name "RBFOX2"; transcript_type "protein_coding"; transcript_status "KNOWN"; transcript_name "RBFOX2-001"; exon_number 3;  exon_id "ENSE00001578650.1";  level 2; tag "basic"; tag "CCDS"; ccdsid "CCDS13921.1"; havana_gene "OTTHUMG00000150585.10"; havana_transcript "OTTHUMT00000318976.3";
22	HAVANA	exon	36174072	36174125	.	-	.	gene_id "ENSG00000100320.18"; transcript_id "ENST00000405409.2"; gene_type "protein_coding"; gene_status "KNOWN"; gene_name "RBFOX2"; transcript_type "protein_coding"; transcript_status "KNOWN"; transcript_name "RBFOX2-001"; exon_number 4;  exon_id "ENSE00001585912.1";  level 2; tag "basic"; tag "CCDS"; ccdsid "CCDS13921.1"; havana_gene "OTTHUMG00000150585.10"; havana_transcript "OTTHUMT00000318976.3";
22	HAVANA	exon	36164304	36164396	.	-	.	gene_id "ENSG00000100320.18"; transcript_id "ENST00000405409.2"; gene_type "protein_coding"; gene_status "KNOWN"; gene_name "RBFOX2"; transcript_type "protein_coding"; transcript_status "KNOWN"; transcript_name "RBFOX2-001"; exon_number 5;  exon_id "ENSE00001638626.1";  level 2; tag "basic"; tag "CCDS"; ccdsid "CCDS13921.1"; havana_gene "OTTHUMG00000150585.10"; havana_transcript "OTTHUMT00000318976.3";
22	HAVANA	exon	36161470	36161530	.	-	.	gene_id "ENSG00000100320.18"; transcript_id "ENST00000405409.2"; gene_type "protein_coding"; gene_status "KNOWN"; gene_name "RBFOX2"; transcript_type "protein_coding"; transcript_status "KNOWN"; transcript_name "RBFOX2-001"; exon_number 6;  exon_id "ENSE00001641902.1";  level 2; tag "basic"; tag "CCDS"; ccdsid "CCDS13921.1"; havana_gene "OTTHUMG00000150585.10"; havana_transcript "OTTHUMT00000318976.3";
22	HAVANA	exon	36157462	36157515	.	-	.	gene_id "ENSG00000100320.18"; transcript_id "ENST00000405409.2"; gene_type "protein_coding"; gene_status "KNOWN"; gene_name "RBFOX2"; transcript_type "protein_coding"; transcript_status "KNOWN"; transcript_name "RBFOX2-001"; exon_number 7;  exon_id "ENSE00001583934.1";  level 2; tag "basic"; tag "CCDS"; ccdsid "CCDS13921.1"; havana_gene "OTTHUMG00000150585.10"; havana_transcript "OTTHUMT00000318976.3";
22	HAVANA	exon	36157249	36157341	.	-	.	gene_id "ENSG00000100320.18"; transcript_id "ENST00000405409.2"; gene_type "protein_coding"; gene_status "KNOWN"; gene_name "RBFOX2"; transcript_type "protein_coding"; transcript_status "KNOWN"; transcript_name "RBFOX2-001"; exon_number 8;  exon_id "ENSE00001576597.1";  level 2; tag "basic"; tag "CCDS"; ccdsid "CCDS13921.1"; havana_gene "OTTHUMG00000150585.10"; havana_transcript "OTTHUMT00000318976.3";
22	HAVANA	exon	36155935	36156067	.	-	.	gene_id "ENSG00000100320.18"; transcript_id "ENST00000405409.2"; gene_type "protein_coding"; gene_status "KNOWN"; gene_name "RBFOX2"; transcript_type "protein_coding"; transcript_status "KNOWN"; transcript_name "RBFOX2-001"; exon_number 9;  exon_id "ENSE00001175865.2";  level 2; tag "basic"; tag "CCDS"; ccdsid "CCDS13921.1"; havana_gene "OTTHUMG00000150585.10"; havana_transcript "OTTHUMT00000318976.3";
22	HAVANA	exon	36142520	36142608	.	-	.	gene_id "ENSG00000100320.18"; transcript_id "ENST00000405409.2"; gene_type "protein_coding"; gene_status "KNOWN"; gene_name "RBFOX2"; transcript_type "protein_coding"; transcript_status "KNOWN"; transcript_name "RBFOX2-001"; exon_number 10;  exon_id "ENSE00003522828.1";  level 2; tag "basic"; tag "CCDS"; ccdsid "CCDS13921.1"; havana_gene "OTTHUMG00000150585.10"; havana_transcript "OTTHUMT00000318976.3";
"""

In [25]:
import six

rbfox2_gff = pd.read_table(six.StringIO(rbfox2_gff_str), header=None)
rbfox2_gff

,0,1,2,3,4,5,6,7,8
0,22,HAVANA,exon,36236239,36236634,.,-,.,"gene_id ""ENSG00000100320.18""; transcript_id ""E..."
1,22,HAVANA,exon,36205827,36206051,.,-,.,"gene_id ""ENSG00000100320.18""; transcript_id ""E..."
2,22,HAVANA,exon,36177647,36177793,.,-,.,"gene_id ""ENSG00000100320.18""; transcript_id ""E..."
3,22,HAVANA,exon,36174072,36174125,.,-,.,"gene_id ""ENSG00000100320.18""; transcript_id ""E..."
4,22,HAVANA,exon,36164304,36164396,.,-,.,"gene_id ""ENSG00000100320.18""; transcript_id ""E..."
5,22,HAVANA,exon,36161470,36161530,.,-,.,"gene_id ""ENSG00000100320.18""; transcript_id ""E..."
6,22,HAVANA,exon,36157462,36157515,.,-,.,"gene_id ""ENSG00000100320.18""; transcript_id ""E..."
7,22,HAVANA,exon,36157249,36157341,.,-,.,"gene_id ""ENSG00000100320.18""; transcript_id ""E..."
8,22,HAVANA,exon,36155935,36156067,.,-,.,"gene_id ""ENSG00000100320.18""; transcript_id ""E..."
9,22,HAVANA,exon,36142520,36142608,.,-,.,"gene_id ""ENSG00000100320.18""; transcript_id ""E..."

In [26]:
rbfox2_bed = rbfox2_gff[[0, 3, 4, 2, 5, 6]]
rbfox2_bed[0] = 'chr' + rbfox2_bed[0].astype(str)
rbfox2_bed[2] += '_' + rbfox2_bed.index.astype(str)
rbfox2_bed

/Users/olga/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/olga/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

       0         3         4       2  5  6
0  chr22  36236239  36236634  exon_0  .  -
1  chr22  36205827  36206051  exon_1  .  -
2  chr22  36177647  36177793  exon_2  .  -
3  chr22  36174072  36174125  exon_3  .  -
4  chr22  36164304  36164396  exon_4  .  -
5  chr22  36161470  36161530  exon_5  .  -
6  chr22  36157462  36157515  exon_6  .  -
7  chr22  36157249  36157341  exon_7  .  -
8  chr22  36155935  36156067  exon_8  .  -
9  chr22  36142520  36142608  exon_9  .  -

In [31]:
rbfox2_bed[0] + ':' + rbfox2_bed[3].astype(str) + '-' + rbfox2_bed[4].astype(str)

0    chr22:36236239-36236634
1    chr22:36205827-36206051
2    chr22:36177647-36177793
3    chr22:36174072-36174125
4    chr22:36164304-36164396
5    chr22:36161470-36161530
6    chr22:36157462-36157515
7    chr22:36157249-36157341
8    chr22:36155935-36156067
9    chr22:36142520-36142608
dtype: object

In [27]:
rbfox2_bed.to_csv('/Users/olga/Downloads/rbfox2_exons_test.bed', sep='\t', index=False, header=False)

In [28]:
from outrigger.splicestrength import splice_site_sequences

In [29]:
seqs = splice_site_sequences('/Users/olga/Downloads/rbfox2_exons_test.bed', 5, 
                             genome='hg19', genome_fasta='/Users/olga/Downloads/Homo')

SyntaxError: invalid syntax (<ipython-input-29-e5451eda37c3>, line 1)