In [12]:
import random

from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord

random.seed('outrigger')

In [19]:
length = 600
seq = ''.join(random.choice("ACGT") for _ in range(length))

record = SeqRecord(Seq(seq), id='chr1', description='')
record

SeqRecord(seq=Seq('TTAAACTGATTGCTTACACATACCCTGATTCGTTGTATCCAAACTTCTGACTGT...GGG', Alphabet()), id='chr1', name='<unknown name>', description='', dbxrefs=[])

In [31]:
fasta_filename = 'outrigger/tests/test.fasta'

with open(fasta_filename, 'w') as f:
    SeqIO.write([record], f, 'fasta')

In [32]:
cat $fasta_filename

>chr1
TTAAACTGATTGCTTACACATACCCTGATTCGTTGTATCCAAACTTCTGACTGTAGGTCC
TGCGTTGGACCCTGCACTGTCCCTACTGTCCCCAACGGGTCTACTGACTACTGGGACAAA
CGGACATCCACTTAGGACTCGGCTATGCGACGGGGAGGGCCGCGATTGCTTCTATTGTGT
CAACCTGTTCCCCCTACACTGACCAGTGCATGTCGTTCGGAGTAGAGGTTGCAATCGGCT
TGAGGTAGCGTGTACCTCATGTCCATACCATTGCATATCAATCGTTCGAACGTCAGAAGG
CGTCCTATACTTCGGTCGTTAACCAGGAATCTTGTCGGCGTAGCTACTCTAGTAATGATA
ATAGTTTCTACATCCGACAACTATAATGCGTAAGTGGTCGAATATTGATGAATCATCCTC
GCAAGGCCATCTGAGCAAGGCAATGTCCTCTGCTAGGCTTGACGCATTTTGACTGGAAGA
AATCCATGACAGGCGTGAATCATTACAGTAGTATTCGACACGTGTCCCACTGATACCGTG
GTACCGGACGAGTACTAGAACCGTGGGTTAGTATGTTAGCCCATCATGCTGCAGTTCGGG

In [23]:
from outrigger.tests.test_junctions_to_events import exon_start_stop

In [27]:
import pandas as pd


bed_lines = []

strands = {'positive': '+', 'negative': '-'}

for name, (start, stop) in exon_start_stop().items():
    for strand_name, strand in strands.items():
        line = ['chr1', start, stop, '{}_{}'.format(name, strand_name), '.', strand]
        bed_lines.append(line)
bed = pd.DataFrame(bed_lines)
bed

       0    1    2                   3  4  5
0   chr1  400  425      exon4_positive  .  +
1   chr1  400  425      exon4_negative  .  -
2   chr1  100  125   exon1alt_positive  .  +
3   chr1  100  125   exon1alt_negative  .  -
4   chr1  225  275  exon2a5ss_positive  .  +
5   chr1  225  275  exon2a5ss_negative  .  -
6   chr1  150  175      exon1_positive  .  +
7   chr1  150  175      exon1_negative  .  -
8   chr1  300  350      exon3_positive  .  +
9   chr1  300  350      exon3_negative  .  -
10  chr1  225  250      exon2_positive  .  +
11  chr1  225  250      exon2_negative  .  -
12  chr1  200  250  exon2a3ss_positive  .  +
13  chr1  200  250  exon2a3ss_negative  .  -
14  chr1  475  500   exon4alt_positive  .  +
15  chr1  475  500   exon4alt_negative  .  -

In [29]:
bed_filename = 'outrigger/tests/test.bed'
bed.to_csv(bed_filename, sep='\t', header=False, index=False)

In [30]:
cat $bed_filename

chr1	400	425	exon4_positive	.	+
chr1	400	425	exon4_negative	.	-
chr1	100	125	exon1alt_positive	.	+
chr1	100	125	exon1alt_negative	.	-
chr1	225	275	exon2a5ss_positive	.	+
chr1	225	275	exon2a5ss_negative	.	-
chr1	150	175	exon1_positive	.	+
chr1	150	175	exon1_negative	.	-
chr1	300	350	exon3_positive	.	+
chr1	300	350	exon3_negative	.	-
chr1	225	250	exon2_positive	.	+
chr1	225	250	exon2_negative	.	-
chr1	200	250	exon2a3ss_positive	.	+
chr1	200	250	exon2a3ss_negative	.	-
chr1	475	500	exon4alt_positive	.	+
chr1	475	500	exon4alt_negative	.	-